/* Nav font */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --simulator-primary-color: #1b1b22;
  --simulator-secondary-color: #221e36;
  --background-color: rgb(52, 54, 57);
  --primary-font: "Goldman", sans-serif;
  --p-font: "Poppins", sans-serif;
  --secondary-color: linear-gradient(115deg, rgba(208,247,228,1) 65%, rgba(255,255,255,1) 100%);
  --tertiary-color: rgb(208,247,228);
  --amount-color: #FFF;
  /* font sizes */
  --xl: 5rem;
  --l: 3rem;
  --m: 2rem;
  --s: 1.5rem;
  --xs: 1rem;
  --xxs: 0.8rem;
}

.link {
  text-decoration: none;
  color: white;
}

html, body {
  height: 100vh;
  width: 100%;
}

.BR10 {
  border-radius: 10px;
}

.BR20 {
  border-radius: 20px;
}

.w100 {
  width: 100%;
}

.p {
  font-family: var(--p-font);
  font-size: var(--xs);
}

.page {
  height: 100%;
  width: 100%;
  background: var(--secondary-color);
  position: relative;
  border-radius: 65px 65px 65px 65px;
}

.pagePadding {
  padding: 2rem 2rem 4rem 2rem;
}

.pageBackground {
  background: rgb(52, 54, 57);
}

.hAndW {
  height: 100vh;
  max-width: 100%;
}

.flexCSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.xsP {
  font-size: var(--xs);
}

.xs {
  font-size: var(--xs);
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background: rgb(52, 54, 57);
  font-family: "Orbitron", sans-serif;   
  padding: 0.5rem 2rem;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: var(--xs);
  transition: ease 0.5s;
  cursor: pointer;
}

@media (max-width: 1200px) {
  :root {
    --xl: 3rem;
    --l: 2rem;
    --m: 2rem;
    --s: 1.2rem;
    --xs: 0.8rem;
    --xxs: 0.7rem;
  }
}

@media (max-width: 1000px) {
  :root {
    --xl: 2rem;
    --l: 2rem;
    --m: 2rem;
    --s: 1rem;
    --xs: 0.7rem;
    --xxs: 0.7rem;
  }
  .button { 
  padding: 0.3rem 1.5rem;
  }
}

@media (max-width: 700px) {
  :root {
    --xl: 2rem;
    --l: 1rem;
    --m: 2rem;
    --s: 0.8rem;
    --xs: 0.5rem;
    --xxs: 0.5rem;
  }
}

@media (max-width: 500px) {
  :root {
    --xl: 2rem;
    --l: 1.3rem;
    --m: 1rem;
    --s: 0.7rem;
    --xs: 0.5rem;
    --xxs: 0.5rem;
  }
  .button {
    padding: 0.3rem 1rem;
  }
}

@media (max-width: 300px) {
  :root {
    --xl: 1.3rem;
    --l: 1.3rem;
    --m: 1rem;
    --s: 0.7rem;
    --xs: 0.5rem;
    --xxs: 0.5rem;
  }
}