.navigation {
    position: absolute;
    top: 0;
    width: 100%;
}

.home-page-text {
    font-family: "Goldman", sans-serif;
    max-width: 600px;
    margin: 2rem;
}

.home-page-text p {
    font-size: var(--xs);
}

.main-text {
    font-size: var(--xl);
    line-height: 3rem;
}

.simulator-text {
    font-size: var(--l);
    background: none;
}

.start-trading button{
    padding: 0.5rem 3rem;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: var(--xs);
}

@media (max-width: 1200px) {
    .home-page img {
        width: 350px;
    }
    .main-text {
        line-height: 2rem;
    }
}

@media (max-width: 1000px) {
    .home-page img {
        width: 300px;
    }
}

@media (max-width: 700px) {
    .main-text {
        line-height: 1rem;
    }
    .home-page img {
        width: 200px;
    }
}

@media (max-width: 500px) {
    .main-text {
        line-height: 1rem;
    }
    .home-page img {
        width: 170px;
    }
}

@media (max-width: 500px) {
    .home-page {
        padding: 1rem;
    }
    .home-page-content {
        border-radius: 5px;
        text-align: center;
    }
    .home-page img {
        display: none;
    }
}
