.nav {
    height: 15vh;
    width: 100%;
    padding: 3rem 6rem;
    font-family: "Orbitron", sans-serif; 
    backdrop-filter: blur(5px);  
}

/* To make sure that the routes section will be in the center */
.logo, .register-button {
    width: 200px;
}

.logo a{
    font-weight: bolder;
    font-size: var(--m);
    color: #000;
    text-decoration: none;
}

.routes a {
    margin: 1rem;
    color: #000;
    font-size: var(--xs);
    cursor: pointer;
}

.register-button {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 1000px) {
    .routes {
        display: none;
    }
}

@media (max-width: 300px) {
    .nav {
        height: 5vh;
        padding: 2em
    }
}


