.nav {
    height: 15vh;
    width: 100%;
    padding: 2rem 2rem;
    font-family: "Orbitron", sans-serif;   
}

/* To make sure that the routes section will be in the center */
.logo, .register-button {
    width: 200px;
}

.logo {
    font-weight: bolder;
    font-size: var(--m);
}

.routes a {
    margin: 1rem;
    color: #000;
    cursor: pointer;
}

.register-button {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 1000px) {
    .routes {
        display: none;
    }
}

